@using Ap.Common.Constants
@using Vivablast.ViewModels
@model PriceViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "price-create-form", @class = "form-horizontal" }))
{
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.Timestamp)
    @Html.HiddenFor(x => x.UserLogin.bUserID, new { @id = "iLogin" })
    <input type="hidden" value="@Url.Action("Create", "Price")" id="hidSaveUrl" />
    <div class="col-xs-6">
        <div class="col-xs-3">
            <label>Stock</label>
            <label class="red">*</label>
        </div>
        <div class="col-xs-8">
            @Html.HiddenFor(x => x.StockId)
            @Html.TextBoxFor(model => model.StockCode, new { @placeholder = "Stock Code", @class = "form-control" })
        </div>
        <div class="col-xs-1">
            <button type="button" id="btnSearchStock">...</button>
        </div>
        <div class="clearboth height10"></div>
        <div class="col-xs-3">
            <label>Price</label>
            <label class="red">*</label>
        </div>
        <div class="col-xs-9">
            @Html.TextBoxFor(model => model.Price, new { @placeholder = "Price", @class = "form-control" })
        </div>
        <div class="clearboth height10"></div>
        <div class="col-xs-3">
            <label>Currency</label>
            <label class="red">*</label>
        </div>
        <div class="col-xs-9">
            @Html.DropDownListFor(model => model.CurrencyId, Model.Currencies, Constants.SelectDDL, new { @class = "form-control" })
        </div>
        <div class="clearboth height10"></div>
        <div class="col-xs-3">
            <label>Supplier</label>
        </div>
        <div class="col-xs-9">
            @Html.DropDownListFor(model => model.SupplierId, Model.Suppliers, Constants.SelectDDL, new { @class = "form-control" })
        </div>
        <div class="clearboth height10"></div>
        <div class="col-xs-3">
            <label>Store</label>
        </div>
        <div class="col-xs-9">
            @Html.DropDownListFor(model => model.StoreId, Model.Stores, new { @class = "form-control" })
        </div>
        <div class="clearboth height10"></div>
        <div class="col-xs-3">
            <label>Start Date</label>
        </div>
        <div class="col-xs-9">
            <div class="input-group date">
                @if (Model.dStart.HasValue)
                {
                    <input id="dStart" name="dStart" value="@Model.dStart.Value.ToString("dd/MM/yyyy")" type="text" class="form-control">
                }
                else
                {
                    <input id="dStart" name="dStart" value="@Model.dStart" type="text" class="form-control">
                }
                <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
            </div>
        </div>
        <div class="clearboth height10"></div>
        <div class="col-xs-3">
            <label>End Date</label>
        </div>
        <div class="col-xs-9">
            <div class="input-group date">
                @if (Model.dEnd.HasValue)
                {
                    <input id="dEnd" name="dEnd" value="@Model.dEnd.Value.ToString("dd/MM/yyyy")" type="text" class="form-control">
                }
                else
                {
                    <input id="dEnd" name="dEnd" value="@Model.dEnd" type="text" class="form-control">
                }
                <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
            </div>
        </div>
        <div class="clearboth height10"></div>
        <div class="col-xs-3">
            <label>Stock Name</label>
        </div>
        <div class="col-xs-9">
            <label id="lblStockName" class="lblredbol">@Model.StockName</label>
        </div>
        <div class="clearboth height10"></div>
        <div class="col-xs-3">
            <label>Stock Type</label>
        </div>
        <div class="col-xs-9">
            <label id="lblStockType" class="lblredbol">@Model.StockType</label>
        </div>
        <div class="clearboth height10"></div>
        <div class="col-xs-3">
            <label>Unit</label>
        </div>
        <div class="col-xs-9">
            <label id="lblStockUnit" class="lblredbol">@Model.Unit</label>
        </div>
        <div class="clearboth height10"></div>
        <div class="col-xs-3">
            <label>Part No</label>
        </div>
        <div class="col-xs-9">
            <label id="lblPartNo" class="lblredbol">@Model.PartNo</label>
        </div>
        <div class="clearboth height10"></div>
        <div class="col-xs-3">
            <label>Ral No</label>
        </div>
        <div class="col-xs-9">
            <label id="lblRalNo" class="lblredbol">@Model.RalNo</label>
        </div>
        <div class="clearboth height10"></div>
        <div class="col-xs-3">
            <label>Color</label>
        </div>
        <div class="col-xs-9">
            <label id="lblColor" class="lblredbol">@Model.ColorName</label>
        </div>
    </div>
}

<div class="clearboth"></div>

<div class="alert alert-danger margintop10" style="display: none">
    <strong>Error!</strong> No item in list.
</div>

<div class="form-group" style="margin-top: 10px;">
    <div class="col-sm-offset-2 col-sm-10">
        <button id="btnSave" class="btn btn-danger" data-dismiss="modal" data-loading-text="Saving..." type="button">
            <span class="glyphicon glyphicon-save"></span>Save
        </button>
        <a href="@Url.Action("Create", "Price")" class="btn btn-primary btnAdd marginleft10 displaynone">
            <span class="glyphicon glyphicon-plus"></span>New
        </a>
        @Html.ActionLink("Back To List Price", "Index", "Price", new { @class = "btn btn-default marginleft10" })
    </div>
</div>

<script src="/Scripts/tmx.priceact.js?v=@System.Configuration.ConfigurationManager.AppSettings["Version"]"></script>



