@using Ap.Common.Constants
@using Vivablast.ViewModels

@model UserViewModel

@if (Model.TotalRecords == 0)
{
    <div>
        @Constants.NoData
    </div>
}
else
{
    <div>
        @Model.TotalRecords @Constants.DisplayResult
    </div>
    <div class="table-responsive">
        <table id="List" class="table table-bordered table-hover">
            <thead>
                <tr>
                    @if (Model.UserLogin.UserR != 0)
                    {
                        <th class="center"></th>
                    }
                    <th class="center">User</th>
                    <th class="center hidden-xs">F.Name</th>
                    <th class="center hidden-xs">L.Name</th>
                    <th class="center">Department</th>
                    <th class="center hidden-xs">Store</th>
                    <th class="center hidden-xs">Tel</th>
                    <th class="center">Mobile</th>
                    <th class="center hidden-xs">Email</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.XUserList)
                {
                    <tr>
                        @if (Model.UserLogin.UserR != 0)
                        {
                            <td class="center">
                                <a href="@Url.Action("Detail", "User", new {id = @item.Id}, null)" class="btn btn-xs btn-info" style="color: white; text-decoration:none;">
                                    Detail
                                </a>
                                @if (Model.UserLogin.UserR >2)
                                {
                                    <a href="@Url.Action("Edit", "User", new {id = @item.Id}, null)" class="btn btn-xs btn-primary" style="color: white; text-decoration: none;">
                                        Edit
                                    </a>
                                }
                                @if (Model.UserLogin.UserR ==4 && Model.UserLogin.Id != item.Id)
                                {
                                    <a href="javascript:;" class="btn btn-xs btn-danger" style="color: white; text-decoration:none;">
                                        Delete
                                    </a>
                                }
                                <input type="hidden" value="@item.Id" class="ItemKey" />
                            </td>
                        }
                        <td class="UserName">@item.UserName</td>
                        <td class="hidden-xs">@item.FirstName</td>
                        <td class="hidden-xs">@item.LastName</td>
                        <td>@item.Department</td>
                        <td class="hidden-xs">@item.Store</td>
                        <td class="center hidden-xs"><a href="tel:@item.Telephone">@item.Telephone</a></td>
                        <td class="center"><a href="tel:@item.Mobile">@item.Mobile</a></td>
                        <td class="hidden-xs"><a href="mailto:@item.Email">@item.Email.Truncate(30)</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    if (Model.TotalPages > 1)
    {
        <div class="float-left">
            @Html.Partial("Partials/_PreparePagingPartial")
        </div>
    }
}