@using System.Web.Configuration
@using Ap.Common.Constants

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @* You can disable zooming capabilities on mobile devices by adding user-scalable=no to the viewport meta tag. This disables zooming, meaning users are only able to scroll, and results in your site feeling a bit more like a native application. Overall, we don't recommend this on every site, so use caution!*@
    @*<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">*@
    <title>Vivablast Management System</title>
    <link href="/Images/img/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="/Content/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="/Content/jquery.multiselect.css?v=@System.Configuration.ConfigurationManager.AppSettings["Version"]" rel="stylesheet" />
    <link href="/Content/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/toastr.min.css" rel="stylesheet" />
    <link href="/Content/custom.css?v=@System.Configuration.ConfigurationManager.AppSettings["Version"]" rel="stylesheet" />
    <link href="/Content/fixscreen.css?v=@System.Configuration.ConfigurationManager.AppSettings["Version"]" rel="stylesheet" />
    <link href="/Content/bootstrap-datepicker/css/datepicker3.css" rel="stylesheet" />
    <link href="/Content/chosen.css" rel="stylesheet" />
    <link rel="stylesheet" href="http://davidstutz.github.io/bootstrap-multiselect/dist/css/bootstrap-multiselect.css" type="text/css" />

    <script src="/scripts/jquery.min.js"></script>
    <script src="/Scripts/jquery-ui.js"></script>

    <script src="/Content/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://davidstutz.github.io/bootstrap-multiselect/dist/js/bootstrap-multiselect.js"></script>
    <script src="/Content/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="/Scripts/pages/jquery.dataTables.min.js"></script>
    <script src="/Scripts/pages/ColReorderWithResize.js"></script>
    <script src="/Scripts/chosen.jquery.js"></script>
    <script src="~/Scripts/knockout-2.1.0.js"></script>
    <script src="~/Scripts/jquery.multiselect.js"></script>
    <script src="~/Scripts/autosize.js"></script>
    <script src="~/Scripts/toastr.js"></script>
    <script src="/Scripts/common.js?v=@System.Configuration.ConfigurationManager.AppSettings["Version"]"></script>
    <script src="/Scripts/tmx.layout.js?v=@System.Configuration.ConfigurationManager.AppSettings["Version"]"></script>
</head>
<body>
    @Html.Hidden("resolve-url", Url.Content("~"))
    <!-- Fixed navbar -->
    @*<nav class="navbar navbar-inverse navbar-fixed-top">*@
    @*<nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand visible-sm-block visible-xs-block" href="#">VIVABLAST</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">

                </div>
            </div>
        </nav>*@
    <header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-navbar" aria-controls="bs-navbar" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="../" class="navbar-brand visible-sm-block visible-xs-block">V3</a>
            </div>
            <nav id="bs-navbar" class="collapse navbar-collapse">
            </nav>
        </div>
    </header>

    <div id="information-login" tabindex="-1" class="hidden-xs">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <form class="form-inline">
                        <div class="form-group">
                            <a href="javascript:" onclick="logOut()"><i class="glyphicon glyphicon-log-out"></i>&nbsp;Logout&nbsp;<span class="systemWelcome bold"></span></a>
                        </div>
                        <div class="form-group marginleft10">
                            <a href="@Url.Action("ChangePassword", "Login")"><i class="glyphicon glyphicon-edit"></i>&nbsp;Change Password</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">@System.Configuration.ConfigurationManager.AppSettings["VersionInfo"]</div>
        </div>
    </div>
    @*Current page: <b><span id="systemPageInformation"></span></b>*@

    @RenderBody()

    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-muted text-center">
                © 2014 <a href="http://www.vivablast.com">Vivablast</a>. Tel <a href="tel:+84838965006">(+848)38 965 006</a> / <a href="tel:+84838965007">(+848)38 965 007</a> / <a href="tel:+84838965008">(+848)38 965 008</a> Fax <a href="fax:+84838965004">+84 83 89 65 004</a>
</div>
        </div>
    </div>

    <input type="hidden" id="controller" value="@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()" />
    <input type="hidden" value="@Constants.Duplicate" id="hidDuplicate" />
    <input type="hidden" value="@Constants.DuplicateCode" id="hidDuplicateCode" />
    <input type="hidden" value="@Constants.Success" id="hidSuccess" />
    <input type="hidden" value="@Constants.UnDelete" id="hidUnDelete" />
    <input type="hidden" value="@Constants.DataJustChanged" id="hidDataJustChanged" />
    <input type="hidden" value="@WebConfigurationManager.AppSettings["PathImg"]" id="hidPathImg" />
    <input type="hidden" value="@WebConfigurationManager.AppSettings["PathImages"]" id="hidPathImages" />
    <div class="clearboth"></div>
    <div id="loading-indicator"></div>
</body>
</html>
