@using System.Globalization
@using Ap.Common.Constants
@using Vivablast.ViewModels
@model FulfillmentViewModel

@if (Model.TotalRecords == 0)
{
    <div>
        @Constants.NoData
    </div>
}
else
{
    <div>
        @Model.TotalRecords @Constants.DisplayResult
    </div>
    <div class="table-responsive">
        <table id="MasterList" class="table table-bordered table-hover">
            <thead>
                <tr class="vbhead">
                    <th class="center" style="width: 196px!important">Action</th>
                    <th class="center">PE Code</th>
                    <th class="center">Supplier</th>
                    <th class="center">PE Date</th>
                    <th class="center">PE Total</th>
                    <th class="center hidden-xs">Location</th>
                    <th class="center hidden-xs">PE Type</th>
                    <th class="center hidden-xs">Currency</th>
                    <th class="center">PE Status</th>
                    <th class="center hidden-xs"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.StockInList)
                {
                    <tr class="vbcolum">
                        @if (Model.UserLogin.StockInR > 2)
                        {
                            <td class="center">
                                <a href="@Url.Action("Create", "StockIn", new { id = @item.PE_Id }, null)" class="btn btn-xs btn-primary" style="color: white; text-decoration:none;">
                                    <span class="glyphicon glyphicon-edit"></span>
                                    Edit
                                </a>
                                @if (Model.UserLogin.StockInR > 3)
                                {
                                    @*<a href="javascript:;" class="btn btn-xs btn-danger" style="color: white; text-decoration:none;">
                                        <span class="glyphicon glyphicon-remove"></span>
                                        Delete
                                    </a>*@
                                }
                                @if (Model.UserLogin.StockInR > 1)
                                {
                                <a href="@Url.Action("PDF", "StockIn", new { id = @item.SRV }, null)" target="_blank" class="btn btn-xs btn-primary" style="color: white; text-decoration:none;">
                                    <span class="glyphicon glyphicon-print"></span>
                                    PDF
                                </a>
                                }
                                <input type="hidden" value="@item.PE_Id" class="ItemKey" />
                            </td>
                        }
                        <td class="center">@item.PE_Code</td>
                        <td class="center">@item.Supplier</td>
                        <td class="center">@item.PE_Date.ToString("dd/MM/yyyy")</td>
                        <td class="center">
                            @if (@item.PE_Total != null)
                            {
                                @(((decimal)@item.PE_Total).ToStringNoTruncation(CultureInfo.CreateSpecificCulture("en-US").NumberFormat))
                            }
                        </td>
                        <td class="center hidden-xs">@item.PE_Location</td>
                        <td class="center hidden-xs">@item.PE_Type</td>
                        <td class="center hidden-xs">@item.Currency</td>
                        <td class="center">@item.PE_Status</td>
                        <td class="center hidden-xs">
                            <div class="arrow"></div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="clearboth"></div>
    if (Model.TotalPages > 1)
    {
        <div class="float-left">
            @Html.Partial("Partials/_PreparePagingPartial")
        </div>
    }
}