@using Ap.Common.Constants
@using Vivablast.ViewModels
@model ProjectViewModel
@if (Model.TotalRecords == 0)
{
    <div>
        @Constants.NoDataHistory
    </div>
}
else
{
    <div>
        @Model.TotalRecords @Constants.DisplayResult
    </div>
    <div class="table-responsive">
        <table id="List" class="table table-bordered table-hover">
            <thead>
                <tr class="vbhead">
                    <th class="center">Action</th>
                    <th class="center">Date</th>
                    <th class="center">Stock Code</th>
                    <th class="center">Stock Name</th>
                    <th class="center">Quantity Current</th>
                    <th class="center">Quantity Change</th>
                    <th class="center">Quantity After</th>
                    <th class="center">Store</th>
                    <th class="center">SIV</th>
                    <th class="center">SRV</th>
                    <th class="center">MRF</th>
                    <th class="center">By</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.StockQuantityManagementResults)
                {
                    <tr class="vbcolum">
                        <td class="center">
                            @item.Status
                        </td>
                        <td>
                            @Constants.ConvertDate(item.Date.ToString())
                        </td>
                        <td class="center">
                            @item.Stock_Code
                        </td>
                        <td class="center">
                            @item.Stock_Name
                        </td>
                        <td class="center">
                            @item.Quantity_Current
                        </td>
                        <td class="center">
                            @item.Quantity_Change
                        </td>
                        <td class="center">
                            @item.Quantity_After_Change
                        </td>
                        <td class="center">
                            @item.ToStore
                        </td>
                        <td class="center">
                            @item.SIV
                        </td>
                        <td class="center">
                            @item.SRV
                        </td>
                        <td class="center">
                            @item.MRF
                        </td>
                        <td class="center">
                            @item.User
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    if (Model.TotalPages > 1)
    {
        <div class="float-left">
            @Html.Partial("Partials/_PreparePagingPartial")
        </div>
    }
}
