@using Ap.Common.Constants
@using Vivablast.ViewModels
@model SupplierViewModel

@{
    ViewBag.Title = "Supplier";
}

<div class="container">
    <div class="row">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "supplier-create-form", @class = "form-horizontal" }))
        {

            @Html.HiddenFor(x => x.Id)
            @Html.HiddenFor(x => x.vSupplierName, new { @id = "hidCheckName" })
            @Html.HiddenFor(x => x.Timestamp)
            @Html.HiddenFor(x => x.UserLogin.Id, new { @id = "iLogin" })
            <input type="hidden" value="@Url.Action("Create", "Supplier")" id="hidSaveUrl" />
            <input type="hidden" value="" id="hidDeleteItemDetail" />
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" id="Master">
                <div class="form-group">
                    <label class="col-sm-12 bold20 linered">Supplier Information</label>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Store</label>
                    <div class="col-sm-9">
                        @Html.DropDownListFor(model => model.iStore, Model.Stores, Constants.SelectDDL, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Supplier <span class="red">*</span></label>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(model => model.vSupplierName, new { @placeholder = "Name", @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Type</label>
                    <div class="col-sm-9">
                        @Html.DropDownListFor(model => model.bSupplierTypeID, Model.Types, Constants.SelectDDL, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Address</label>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(model => model.vAddress, new { @placeholder = "Address", @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">City</label>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(model => model.vCity, new { @placeholder = "City", @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Country</label>
                    <div class="col-sm-9">
                        @Html.DropDownListFor(model => model.CountryId, Model.Countries, Constants.SelectDDL, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Phone 1</label>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(model => model.Telephone1, new { @placeholder = "Phone 1", @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Phone 2</label>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(model => model.Telephone2, new { @placeholder = "Phone 2", @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Mobile</label>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(model => model.Mobile, new { @placeholder = "Mobile", @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Fax</label>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(model => model.vFax, new { @placeholder = "Fax", @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Email</label>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(model => model.Email, new { @placeholder = "Email", @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Contact</label>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(model => model.vContactPerson, new { @placeholder = "Contact", @class = "form-control" })
                    </div>
                </div>
            </div>

    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" id="RequisitionStockDetail">
        <div class="form-group">
            <label class="col-xs-12 h3">Product Detail</label>
        </div>
        <div class="form-group">
            <label class="col-sm-3 col-xs-12 control-label">Stock Code</label>
            <div class="col-sm-4 col-xs-10">
                @Html.HiddenFor(x => x.StockId)
                @Html.TextBoxFor(model => model.StockCode, new { @placeholder = "Stock Code", @class = "form-control" })
            </div>
            <div class="col-sm-2 col-xs-2">
                <button type="button" id="btnSearchStock">...</button>
            </div>
            <div class="col-sm-3 hidden-xs">
                <button type="button" class="btn btn-primary btn-block btnAddItem"><span class="glyphicon glyphicon-plus"></span> Add</button>
                <button type="button" class="btn btn-primary btn-block btnUpdateItem displaynone"><span class="glyphicon glyphicon-ok"></span> Update</button>
            </div>
        </div>

        <div class="col-md-8 col-xs-12 picture-effect">
            <div class="row">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Remark</label>
                    <div class="col-sm-9">
                        @Html.TextAreaFor(
                            model => model.vDescription,
                            new { @placeholder = "Remark", @class = "auto-size" }
                            )
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group visible-xs-block">
            <div class="col-xs-12 visible-xs-block">
                <button type="button" class="btn btn-primary btn-block btnAddItem"><span class="glyphicon glyphicon-plus"></span> Add</button>
                <button type="button" class="btn btn-primary btn-block btnUpdateItem displaynone"><span class="glyphicon glyphicon-ok"></span> Update</button>
            </div>
        </div>

        <div class="col-md-4 col-xs-12">
            <div class="row">
                <div class="gallery-stock">
                </div>
            </div>
        </div>

        <div style="clear: both"></div>
                
                <div class="form-group">
                    <label class="col-sm-3 col-xs-12 control-label">Stock Name</label>
                    <label id="lblStockName" class="col-sm-9 lblredbol col-xs-12"></label>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 col-xs-6 control-label">Qty in Store</label>
                    <label id="lblStockQty" class="col-sm-9 col-xs-6 lblredbol"></label>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 col-xs-6 control-label">Stock Type</label>
                    <div class="col-sm-9 col-xs-6">
                        <label id="lblStockType" class="lblredbol"></label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 col-xs-6 control-label">Stock Unit</label>
                    <div class="col-sm-9 col-xs-6">
                        <label id="lblStockUnit" class="lblredbol"></label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 col-xs-6 control-label">Part No</label>
                    <div class="col-sm-9 col-xs-6">
                        <label id="lblPartNo" class="lblredbol"></label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 col-xs-6 control-label">Ral No</label>
                    <div class="col-sm-9 col-xs-6">
                        <label id="lblRalNo" class="lblredbol"></label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 col-xs-6 control-label">Color</label>
                    <label id="lblColor" class="col-sm-9 col-xs-6 lblredbol"></label>
                </div>
                
                <div class="form-group">
                    <label class="col-sm-12 bold20 linered">Product List</label>
                </div>
                <div class="table-responsive">
                    <table id="LstItem" class="table table-bordered table-hover">
                        <thead>
                            <tr class="vbheaddetail">
                                <th></th>
                                <th class="center">Stock Code</th>
                                <th class="center">Stock Name</th>
                                <th class="center">Type</th>
                                <th class="center">Unit</th>
                                <th class="center">Remark</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.TotalRecords > 0)
                        {
                            foreach (var item in Model.GetProductDetails)
                            {
                                <tr class="vbcolum">
                                    <td class="center">
                                        <input type="hidden" value="@item.Id" class="DetailId" />
                                        <input type="hidden" value="@item.Stock_Id" class="StockId" />
                                        <button type="button" class="btnEdit btn btn-xs btn-primary"><span class="glyphicon glyphicon-edit"></span>Edit</button>
                                        <button type="button" class="btnDelete btn btn-xs btn-danger marginleft2"><span class="glyphicon glyphicon-remove"></span>Delete</button>
                                    </td>
                                    <td class="center StockCode">@item.Stock_Code</td>
                                    <td class="center StockName">@item.Stock_Name</td>
                                    <td class="center StockType">@item.Type</td>
                                    <td class="center Unit">@item.Unit</td>
                                    <td class="center Description">@item.Remark</td>
                                </tr>
                            }
                        }
                        </tbody>
                    </table>
                </div>
            </div>
            }

            <div class="alert alert-danger col-xs-12" style="display: none">
                <strong>Error!</strong> No item in list.
            </div>

            <div class="modal-footer center">
                <button id="btnSave" class="btn btn-danger" data-dismiss="modal" data-loading-text="Saving..." type="button">
                    <span class="glyphicon glyphicon-save"></span> Save
                </button>
                <a href="@Url.Action("Create", "Supplier")" class="btn btn-primary btnAdd displaynone">
                    <span class="glyphicon glyphicon-plus"></span> New
                </a>
                @Html.ActionLink("Back To List", "Index", "Supplier", new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
<script src="/Scripts/tmx.supplieract.js?v=@System.Configuration.ConfigurationManager.AppSettings["Version"]"></script>
