@using Vivablast.Common
@using Vivablast.ViewModels.Builders

@model StockViewModelBuilder

@if (Model.TotalRecords == 0)
{
    <div>
        @Constants.NoData
    </div>
}
else
{
    <div style="clear: both; height: 10px;"></div>
    if (Model.TotalPages > 1)
    {
    <div class="float-left margintop5">@Model.TotalRecords @Constants.DisplayResult</div>
    }
    else
    {
    <div style="float: left;">@Model.TotalRecords @Constants.DisplayResult</div>
    }
    <div class="clearboth"></div>
    <div class="float-left">
        <table id="StockLst" class="table table-bordered table-hover noresize">
                <thead>
                    <tr class="vbhead">
                        <th class="center">Choose</th>
                        <th class="center">Stock Code</th>
                        <th class="center">Stock Name</th>
                        <th class="center">PO Qty</th>
                        <th class="center">Pending Qty</th>
                        <th class="center">MRF</th>
                        <th class="center">Unit</th>
                        <th class="center">Type</th>
                        <th class="center">Category</th>
                        <th class="center">Ral No</th>
                        <th class="center">Color</th>
                        <th class="center">Part No</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ProductForFulfillVs)
                    {
                        <tr>
                            <input type="hidden" value="@item.Id" class="StockIdSearchForm"/>
                            <td class="center">
                                <button type="button" class="btn btn-info btnSelectProduct">Select</button></td>
                            <td class="center ProductCodeSearchForm">@item.vStockID</td>
                            <td class="center ProductNameSearchForm">@item.vStockName</td>
                            <td class="center PoQtySearchForm">@item.PoQty</td>
                            <td class="center PendingQtySearchForm">@item.PendingQty</td> 
                            <td class="center MrfSearchForm">@item.MRF</td>
                            <td class="center ProductUnitSearchForm">@item.vUnit</td>
                            <td class="center ProductTypeSearchForm">@item.vType</td>
                            <td class="center">@item.vCategory</td>
                            <td class="center ProductRalNoSearchForm">@item.RalNo</td>
                            <td class="center ProductColorSearchForm">@item.ColorName</td>
                            <td class="center ProductPartNoSearchForm">@item.PartNo</td>
                        </tr>
                    }
                </tbody>
            </table>
    </div>
    <div class="clearboth"></div>
                if (Model.TotalPages > 1)
                {
    <div style="float: left;">
        @Html.Partial("Partials/_PreparePagingPartial")
    </div>
                }
}
