@using System.Globalization
@using Ap.Common.Constants
@using Vivablast.ViewModels
@model XPePdfViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Vivablast Management System</title>
    <link href="/Images/img/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="/Content/bootstrap/css/bootstrap.css" rel="stylesheet" />
    @*<link href="/Content/styles.css" rel="stylesheet" />*@
    <script src="/scripts/jquery.min.js"></script>
    <script src="/Scripts/jquery-ui.js"></script>
    <script src="/Content/bootstrap/js/bootstrap.min.js"></script>
    <script src="/Scripts/common.js?v=@System.Configuration.ConfigurationManager.AppSettings["Version"]"></script>
</head>
<body>
    <div class="container">
        <div id="PrintLocation">
            <link href="@Model.Domain/Content/pdf.css" rel="stylesheet" />
            <div style="padding-top: 10px;">
                <table>
                    <tr>
                        <td style="width: 270px; text-align: center; padding: 0">
                            @*<img src="@Model.Domain/Images/v3pdf.png" />*@
                            <img src="@Model.Domain/Images/wamsmalaysia.jpg" style="width: 268px; height: 70px; text-align: center" />
                        </td>
                        <td style="vertical-align: middle;text-align:center; font-size:20px;font-weight:bold">
                            <span style="font-size: 26px;">
                                PURCHASE ORDER
                            </span>
                            @*<span style="font-size: 22px;">
                                PURCHASE ORDER
                            </span>
                            <br />
                            <i>ĐƠN ĐẶT HÀNG</i>*@
                        </td>
                    </tr>
                </table>
            </div>
            <div style="padding-top: 10px; font-size: 12px" class="head-table">
                <div style="float: left;width: 50%">
                    <table>
                        <tr>
                            @*<td style="width: 150px;font-weight: bold;">
                                From - <i>Từ</i>:
                            </td>*@
                            <td style="width: 150px;font-weight: bold;">
                                From:
                            </td>
                            <td style="font-weight:bold">
                                VIVABLAST (MALAYSIA) SDN.BHD.
                            </td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold;">Kuala Lumpur Office:</td>
                            <td>Level 7, Menara Milenium, Jalan Damanlela  Pusat Bandar Damansara  Damansara Heights  Kuala Lumpur  Wilayah Persekutuan  50490, Malaysia</td>
                        </tr>
                        @*<tr>
                            <td style="font-weight: bold;">Address - <i>Địa chỉ</i>:</td>
                            <td>Binh Chieu I.Z, Binh Chieu Ward, Thu Duc, HCMC</td>
                        </tr>*@
                        @*<tr>
                            <td style="font-weight: bold;">Tax code - <i>MST</i>:</td>
                            <td>0300791426</td>
                        </tr>*@
                        <tr>
                            <td style="font-weight: bold;">Tel:</td>
                            @*<td>(08) 38 965 007</td>*@
                            <td>+60 (0) 1373 749 83</td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold;">Pengerang site:</td>
                            <td>HS (D) 18380 PTD 3468 Mukim of Pengerang, 81600 Pengerang, Johor, Malaysia</td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold;">GST address:</td>
                            <td>02-20 Jalan Austin Perdana 2/22, Taman Austin Perdana, 81100 Johor Bahru, Johor</td>
                        </tr>
                        @*<tr>
                            <td style="font-weight: bold;">Fax:</td>
                            <td>(08) 38 965 004</td>
                        </tr>*@
                        <tr>
                            <td style="font-weight: bold;">PE Staff:@*<br /><i>Nhân viên mua hàng:</i>*@</td>
                            <td></td>
                        </tr>
                    </table>
                </div>

                <div style="float: left; width: 50%">
                    <div style="margin-left: 20px">
                        <div style="font-weight: bold;padding: 5px;margin-bottom: 5px;">Date @*- <i>Ngày</i>*@: @Model.PurchaseOrderCustom.PE_Date.ToString("d", new CultureInfo("ms-MY"))</div>
                        <table>
                            <tr>
                                <td style="width: 150px;font-weight: bold;">
                                    To: 
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 150px;font-weight: bold;">
                                    Att: 
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 150px;font-weight: bold;">
                                    Cc: @Model.PurchaseOrderCustom.vFromCC
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 150px;font-weight: bold;">
                                    Tel:
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 150px;font-weight: bold;">
                                    Fax:
                                    <br/>
                                    <span style="color:white">.</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                    
                </div>
            </div>

            <div style="clear: both"></div>
            <div style="padding-top: 10px;">
                <div style="float: left; width: 220px">
                    <span style="font-weight: bold; margin-right: 10px;">Project Code - <i>Số dự án</i>:</span>
                </div>
                <div style="float: left; width: 250px">
                    @Model.PurchaseOrderCustom.Project_Code
                </div>
                <div style="float: left; width: 300px">
                    <span style="font-weight: bold; margin-right: 10px;">P.O no - <i>ĐĐH số:</i>:</span> @Model.PurchaseOrderCustom.PE
                </div>
            </div>
            <div style="clear: both"></div>
            <div>
                <div style="float: left; width: 220px">
                    <span style="font-weight: bold; margin-right: 10px;">Project Name - <i>Tên dự án</i>:</span> 
                </div>
                <div style="float: left; width: 500px">
                    @Model.PurchaseOrderCustom.Project_Name
                </div>
            </div>
            <div style="clear: both; height: 10px;"></div>
            <div>
                <table>
                    <tr>
                        <th>Item</th>
                        <th>Stock ID<br /><i>Mã hàng</i></th>
                        <th>Description<br /><i>Mô tả</i></th>
                        <th>Ral</th>
                        <th>Color<br /><i>Màu</i></th>
                        <th>Unit<br /><i>ĐVT</i></th>
                        <th>Qty<br /><i>S.Lượng</i></th>
                        <th>MRF#</th>
                        <th>Unit price<br />(VND)<br /><i>Đơn giá</i></th>
                        <th>Discount<br /><i>Giảm giá</i></th>
                        <th>Total<br />(VND)<br /><i>Thành tiền</i></th>
                    </tr>
                    @{var i = 1;}
                    @foreach (var item in Model.PoDetailsVResults)
                    {
                        <tr>
                            <td style="text-align: center">@i</td>
                            <td>@item.Stock_Code</td>
                            <td>@item.Stock_Name</td>
                            <td></td>
                            <td></td>
                            <td>@item.Unit</td>
                            <td>@item.Quantity.Value.ToString("g29")</td>
                            <td>@item.MRF</td>
                            <td>
                            @if (item.Price != null)
                            {
                                @(((decimal)item.Price).ToStringNoTruncation(CultureInfo.CreateSpecificCulture("en-US").NumberFormat))
                            }
                            </td>
                            <td style="text-align: center">@item.Discount</td>
                            <td style="text-align: center">
                                @if (item.Item_Total != null)
                                {
                                    @(((decimal)item.Item_Total).ToStringNoTruncation(CultureInfo.CreateSpecificCulture("en-US").NumberFormat))
                                }
                            </td>
                        </tr>
                        i++;
                    }
                    <tr>
                        <td colspan="8" style="border-left: 1px solid white;border-bottom: 1px solid white;padding-left: 0;font-size: 12px;">
                            Delivery Time - <i>Thời gian nhận hàng</i>:
                        </td>
                        <td style="font-size: 12px;font-weight: bold;">Sub Total</td>
                        <td colspan="2" style="font-size: 12px;">
                            @Model.PurchaseOrderCustom.TotalNotVAT.ToStringNoTruncation(CultureInfo.CreateSpecificCulture("en-US").NumberFormat)
                        </td>
                    </tr>
                    <tr>
                        <td colspan="8" style="border-left: 1px solid white;border-bottom: 1px solid white;padding-left: 0;font-size: 12px;">
                            Delivery Location - <i>Địa điểm nhận hàng</i>:
                        </td>
                        <td style="font-size: 12px;font-weight: bold;">VAT (%)</td>
                        <td colspan="2" style="font-size: 12px;">@Model.PurchaseOrderCustom.TotalVAT.ToStringNoTruncation(CultureInfo.CreateSpecificCulture("en-US").NumberFormat)</td>
                    </tr>
                    <tr>
                        <td colspan="8" style="border-left: 1px solid white;border-bottom: 1px solid white;padding-left: 0;font-size: 12px;">
                            Term payment - <i>Điều kiện thanh toán</i>:
                        </td>
                        <td style="font-size: 12px;font-weight: bold;">Total<br/><i>Tổng cộng</i></td>
                        <td colspan="2" style="font-size: 12px;">@Model.PurchaseOrderCustom.Total.ToStringNoTruncation(CultureInfo.CreateSpecificCulture("en-US").NumberFormat)</td>
                    </tr>
                </table>
            </div>
            <div style="clear: both"></div>
            <div style="margin-top: 5px;">
                <span style="font-size: 12px;">Notes - <i>Ghi chú</i>:</span>
            </div>
            <div style="clear: both"></div>
            <div style="margin-top: 10px;">
                <table>
                    <tr class="th">
                        <td>Prepared by - <i>Chuẩn bị bởi</i>:</td>
                        <td>Checked by - <i>Kiểm tra bởi</i>:</td>
                        <td>Approved by <i>Phê duyệt bởi</i>:</td>
                    </tr>
                    <tr>
                        <td style="height: 69px"></td>
                        <td style="height: 69px"></td>
                        <td style="height: 69px"></td>
                    </tr>
                    <tr>
                        <td>
                            <span>Name & Signature - <i>Ký & ghi rõ họ tên</i></span><br />
                            Date - <i>Ngày</i>:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/
                        </td>
                        <td>
                            <span>Name & Signature - <i>Ký & ghi rõ họ tên</i></span><br />
                            Date - <i>Ngày</i>:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/
                        </td>
                        <td>
                            <span>Name & Signature - <i>Ký & ghi rõ họ tên</i></span><br />
                            Date - <i>Ngày</i>:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/
                        </td>
                    </tr>
                </table>
            </div>

        </div>
        
        
        @using (Html.BeginForm("PrintPdf", "Helper", FormMethod.Post, new { id = "myform" }))
        {
            <div style="margin-top: 20px">
                <button type="button" id="btnPrint">Download</button>
                <input type="hidden" name="content" id="hidContent" value="" />
                <input type="hidden" name="fileName" id="fileName" value="PE" />
                <input type="hidden" name="voucher" id="voucher" value="@Model.PurchaseOrderCustom.Id" />
            </div>

        }
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
        });
        /// <summary>Enum for Page Type</summary>
        var PDFPageType = {
            Default: 'Default',
            Portrait: 'Portrait',
            Landscape: 'Landscape'
        }

        $('#btnPrint').click(function () {
            var printContents = '<html><head><title></title><meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head><body>' + $('#PrintLocation').html() + '</body></html>';
            var pageType = PDFPageType.Portrait;
            $('#hidContent').val(htmlEncode(printContents));
            $('#myform').submit();
        });

        function htmlEncode(value) {
            //create a in-memory div, set it's inner text(which jQuery automatically encodes)
            //then grab the encoded contents back out.  The div never exists on the page.
            return $('<div/>').text(value).html();
        }

        function htmlDecode(value) {
            return $('<div/>').html(value).text();
        }
    </script>
</body>
</html>
